<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.mapper.CarMapper">
    <resultMap id="carMap" type="com.echo.pojo.Car">
        <result property="carVin" column="car_vin"/>
        <result property="birthKey" column="birth_key"/>
        <result property="privateEncKey" column="private_enc_key"/>
        <result property="privateSignKey" column="private_sign_key" />
        <result property="privateExecKey" column="private_exec_key" />
        <result property="sessionKey" column="session_key" />
    </resultMap>

    <select id="findCarByCarVin" resultMap="carMap">
        select * from car_info where car_vin = #{carVin}
    </select>
    <update id="updateCarKeys" parameterType="com.echo.pojo.Car">
        update car_info set private_enc_key = #{privateEncKey},
                            private_sign_key = #{privateSignKey},
                            private_exec_key = #{privateExecKey} where car_vin = #{carVin}
    </update>
    <update id="updateTheSessionKeyOfCar" parameterType="map">
        update car_info set session_key = #{sessionKey} where car_vin = #{carVin}
    </update>
</mapper>
